$lime: #E6ED00 !default;
$lime-dark: #D8DE00 !default;
$blue: #075EC7 !default;
$blue-dark: #0B57AF !default;
$black: #2E2E2E !default;
$grey: #F8F8F8 !default;
$grey-dark: #979797 !default;
$white: #FFFFFF !default;

// font-family
$title: 'DRUKTEXTWIDE' !default;
$default: 'GothamPro'  !default;
$medium: 'GothamPro Medium' !default;
$bold: 'GothamPro Bold' !default;
// font-size

// h1
$h1: 56px !default;
$h1-xl: 46px !default;
$h1-sm: 32px !default;

// h2
$h2: 40px !default;
$h2-xl: 34px !default;
$h2-sm: 24px !default;


// h3
$h3: 32px !default;
$h3-xl: 28px !default;
$h3-sm: 20px !default;

// h4
$h4: 18px !default;
$h4-xl: 16px !default;

// h5
$h5: 16px !default;
$h5-xl: 14px !default;


// p
$base-xl: 18px !default;
$base: 16px !default;
$base-small: 14px !default;
$base-sm: 12px !default;

$screen-xxl: 1360px !default;
$screen-xl: 1200px !default;
$screen-lg: 991px !default;
$screen-md: 767px !default;
$screen-sm: 575px !default;
$screen-xs: 480px !default;
$screen-xxs: 400px !default;

