.announcement-bar {
  padding: 12px 0;
  background: #F8F8F8;
  font-size: 14px;
}

.announcement-bar__text span {
  font-family: "GothamPro Bold";
}

.announcement-bar__nav li:not(:last-child) {
  margin-right: 15px;
}
.announcement-bar__nav a {
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
.announcement-bar__nav a:hover {
  color: #075EC7;
}

.announcement-bar__link {
  margin-left: 30px;
  text-decoration: underline;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
.announcement-bar__link:hover {
  color: #075EC7;
}
.announcement-bar__link::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.6576 8.47972L9.03258 7.35472C8.92044 7.30693 8.79581 7.29686 8.67745 7.32603C8.5591 7.35519 8.45342 7.42202 8.37633 7.51644L7.21383 8.93675C5.38939 8.07655 3.92114 6.6083 3.06094 4.78386L4.48125 3.62136C4.57586 3.54441 4.64283 3.43873 4.67201 3.32032C4.70119 3.20191 4.69099 3.07721 4.64297 2.96511L3.51797 0.34011C3.46526 0.219268 3.37204 0.120605 3.25438 0.0611329C3.13672 0.00166097 3.00199 -0.0148919 2.87344 0.0143285L0.435937 0.576829C0.311993 0.60545 0.201409 0.675238 0.122235 0.774801C0.0430606 0.874365 -2.85518e-05 0.997825 1.41942e-08 1.12503C1.41942e-08 7.13675 4.87266 12 10.875 12C11.0022 12.0001 11.1258 11.9571 11.2254 11.8779C11.325 11.7987 11.3948 11.6881 11.4234 11.5641L11.9859 9.1266C12.015 8.99741 11.9981 8.86215 11.9381 8.74408C11.8782 8.62602 11.779 8.53254 11.6576 8.47972Z' fill='%23075EC7'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 730px) {
  .announcement-bar {
    display: none;
  }
}