footer {
  padding: 120px 0 70px;
  background: url(bg.png) no-repeat;
  background-size: cover;
}
footer a.logo {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  footer a.logo {
    max-width: 90px;
    margin: 0 auto 50px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer a.logo img {
    max-width: 90px;
  }
}
footer h4 {
  margin-bottom: 25px;
}
footer address {
  margin-bottom: 10px;
  font-style: normal;
}
@media (max-width: 767px) {
  footer {
    padding: 65px 0 50px;
  }
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__top {
  margin-bottom: 50px;
}

.footer__link {
  margin-bottom: 15px;
  letter-spacing: 0.08em;
}
.footer__link:hover {
  color: #0B57AF;
}

.footer__link--phone::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 18px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.6576 8.47972L9.03258 7.35472C8.92044 7.30693 8.79581 7.29686 8.67745 7.32603C8.5591 7.35519 8.45342 7.42202 8.37633 7.51644L7.21383 8.93675C5.38939 8.07655 3.92114 6.6083 3.06094 4.78386L4.48125 3.62136C4.57586 3.54441 4.64283 3.43873 4.67201 3.32032C4.70119 3.20191 4.69099 3.07721 4.64297 2.96511L3.51797 0.34011C3.46526 0.219268 3.37204 0.120605 3.25438 0.0611329C3.13672 0.00166097 3.00199 -0.0148919 2.87344 0.0143285L0.435937 0.576829C0.311993 0.60545 0.201409 0.675238 0.122235 0.774801C0.0430606 0.874365 -2.85518e-05 0.997825 1.41942e-08 1.12503C1.41942e-08 7.13675 4.87266 12 10.875 12C11.0022 12.0001 11.1258 11.9571 11.2254 11.8779C11.325 11.7987 11.3948 11.6881 11.4234 11.5641L11.9859 9.1266C12.015 8.99741 11.9981 8.86215 11.9381 8.74408C11.8782 8.62602 11.779 8.53254 11.6576 8.47972Z' fill='%23075EC7'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
}

.footer__link--mail::before {
  content: "";
  display: block;
  width: 15px;
  height: 9px;
  margin-right: 18px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.9841 4.23479L9.1748 5.49283L14.9892 9.53709C14.9892 9.52022 15.0005 9.50335 15.0005 9.48648V1.50643C15.0005 1.48394 14.9892 1.47269 14.9892 1.4502C14.2092 1.99585 12.5387 3.16011 10.9842 4.23454L10.9841 4.23479Z' fill='%23075EC7'/%3e%3cpath d='M7.81472 5.7612L10.6666 3.77754C12.2097 2.70873 13.869 1.55572 14.6546 1.01007C14.5927 0.987576 14.5327 0.970703 14.4652 0.970703H0.534106C0.46662 0.970703 0.406587 0.987575 0.344727 1.01007L7.17902 5.76113C7.3739 5.89428 7.62527 5.89428 7.81451 5.76113L7.81472 5.7612Z' fill='%23075EC7'/%3e%3cpath d='M0.0112478 1.45605C0.0112478 1.47293 0 1.4898 0 1.50667V9.48838C0 9.50526 0.0112478 9.52213 0.0112478 9.539L5.82569 5.49474L0.0112478 1.45605Z' fill='%23075EC7'/%3e%3cpath d='M8.13141 6.21836C7.94203 6.3515 7.71892 6.41898 7.49579 6.41898C7.27267 6.41898 7.04955 6.3515 6.86018 6.21273L6.31452 5.83398L0.344727 9.98338C0.406591 10.0059 0.46662 10.0227 0.534106 10.0227H14.4652C14.5327 10.0227 14.5927 10.0059 14.6546 9.98338L8.68277 5.83398L8.13141 6.21836Z' fill='%23075EC7'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}
.footer__social a {
  display: inline-block;
}
.footer__social a:not(:last-child) {
  margin-right: 25px;
}

.footer__nav li:not(:last-child) {
  margin-bottom: 20px;
}
.footer__nav a {
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
.footer__nav a:hover {
  color: #075EC7;
}

.adress-link {
  display: block;
  margin-bottom: 25px;
  font-family: "GothamPro Bold";
  color: #075EC7;
  text-decoration: underline;
}

.footer__bottom p {
  font-size: 12px;
  font-weight: 300;
}
.footer__bottom p:last-child {
  text-align: right;
}

.icon-payment:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .footer__link {
    margin-bottom: 0;
  }

  .col-6 {
    margin-bottom: 40px;
  }

  .footer__bottom p {
    text-align: center;
  }
  .footer__bottom p:last-child {
    margin-top: 18px;
    text-align: center;
  }
}