header {
  padding: 20px 0;
  border-bottom: 1px solid #979797;
}

a.logo {
  display: block;
  max-width: 120px;
}

.header-nav__list {
  font-size: 14px;
  text-transform: uppercase;
}
.header-nav__list li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header-nav__list a {
  display: block;
}
.header-nav__list a:hover {
  font-weight: 600;
  color: #0B57AF;
}

.header__links {
  max-width: 118px;
  margin: 0 0 0 auto;
}

.mob-btn {
  position: relative;
  background: none;
  width: 18px;
  height: 15px;
}
.mob-btn span {
  display: inline-block;
  width: 18px;
  height: 2px;
  background: #2E2E2E;
  border-radius: 10px;
}
.mob-btn span::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  background: #262626;
  top: 0;
  left: 0;
}
.mob-btn span::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  background: #262626;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 992px) {
  header a.logo {
    margin: 0 auto;
  }
}